/*
  CSS File

  My Colour palette
  #f4e1c3  beige
  #8c4c13  brown
  #f4cfd9  light pink
  #f36b2b  orange
  #4f565c  grey
  #f0687f  hot pink
  #ffffff white
*/

@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

/****** Body *******/
body {
  background-color: white;
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  font-style: normal;
}

/****** Container classes *******/
.container--header {
  max-width: 1000px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.container--hero {
  max-width: 800px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: 30rem;
  margin-right: auto;
  position: relative;
}

.container--products {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.container--about {
  max-width: 900px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.container--new--products {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.container--cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2rem;

}

.container--footer {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  padding-left: 1rem;
  padding-right: 1rem;
  gap: 2rem;
  padding-bottom: 2rem;

}

/****** Buttons styles *******/
.btn--menu {
  background-color: #f0687f;
  border-radius: 50px;
  padding: 0.8rem 1.5rem;
  text-decoration: none;
  font-weight: 700;
  color: #f4e1c3;
}

.btn--learnmore {
  border-radius: 50px;
  padding: 0.8rem 1.5rem;
  text-decoration: none;
  font-weight: 700;
  color: #f0687f;
}

a h1 {
  text-decoration: none;
}

.btn--readmore {
  background-color: #f4cfd9;
  border-radius: 50px;
  padding: 0.8rem 1.5rem;
  text-decoration: none;
  font-weight: 700;
  color: #4f565c;
  margin-left: 5rem;
}

.btn--ordernow {
  background-color: #f0687f;
  border-radius: 50px;
  padding: 0.8rem 1.5rem;
  text-decoration: none;
  font-weight: 700;
  color: white;
  margin-left: 4rem;
}

.sub {
  border-style: solid;
  border-color: #f4cfd9;
  border-width: 3px;
  background-color: #f0687f;
  color: #f4cfd9;
  font-weight: 750;
  padding: 3px;
  padding-left: 8px;
  padding-right: 8px;
}

.btn--menu:hover {
  background-color: #4f565c;
}

.btn--learnmore:hover {
  color: #f4e1c3;
  background-color: #4f565c;
}

.product img:hover {
  background-color: #c2ab86;
}

.btn--readmore:hover {
  color: #f4cfd9;
  background-color: #4f565c;
}

.btn--ordernow:hover {
  color: white;
  background-color: #4f565c;
}

.sub:hover {
  color: #f0687f;
  background-color: #f4cfd9;
}

/****** Input box section *******/
.email--box {
  border-style: none;
  padding: 5px;
  color: #4f565c;
}

/****** Header section *******/
.header {
  background-color: #f4e1c3;
}

.header--bar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.header--bar--logo {
  height: 5.5rem;
  width: 5.5rem;
}

.header--bar--nav ul {
  display: flex;
  gap: 4rem;
  list-style-type: none;
}

.header--bar--nav ul li {
  font-weight: 600;
}

.header--bar--nav ul li a {
  color: #8c4c13;
  text-decoration: none;
}

.header--bar--nav ul li a:hover {
  color: #f0687f;
}

/****** Hero section *******/
.hero {
  background-image: url("banner.png");
  background-size: cover;
  padding: 7rem 0 8rem 0;
  margin-left: auto;
  margin-right: auto;
}

.hero--flex {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.hero--flex--image {
  position: absolute;
  top: 7.6rem;
  right: 34rem;
  height: 27rem;
  object-fit: cover;
}

.hero--flex--content {
  margin-left: -45rem;
  width: 60%;
}

.hero--flex--content h2 {
  color: #f0687f;
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.hero--flex--content p {
  color: #8c4c13;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

/****** Products section *******/
.product {
  background-color: #f4cfd9;
  padding: 5rem 0 5rem 0;
}

.product h2 {
  color: #4f565c;
  text-align: center;
  font-size: 2.5rem;
}

.product a {
  text-decoration: none;
}

.product h1 {
  color: #4f565c;
  text-align: center;
  font-size: 1.5rem;
  text-decoration: none;
}

.product p {
  color: #4f565c;
  text-align: center;
  font-size: 1rem;
  margin-top: 1rem;
}

.product .products {
  margin: 3rem 0 3rem 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  margin-top: 5rem;
  list-style-type: none;
}

.product--image {
  background-color: #f4e1c3;
  height: 200px;
  width: 200px;
  border-radius: 15px;
  margin-bottom: 1rem;
  padding: 1rem;
  object-fit: cover;
  box-shadow: 0 5px 4px -4px #777;
}

.product h1:hover {
  color: #f36b2b;
}

/****** About section *******/
.about {
  background-color: #8c4c13;
  padding: 7rem 0 7rem 0;
}

.about--flex {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;

}

.about--flex--image {
  height: 20rem;
  background-color: #f4e1c3;
  object-fit: cover;
  border-radius: 100%;
  padding: 1rem;
  margin-right: 5rem;
}

.about--flex--content {
  width: 60%;
}

.about--flex--content h2 {
  color: #f4e1c3;
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
  margin-left: 5rem;
}

.about--flex--content p {
  color: #f4e1c3;
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 2rem;
  margin-bottom: 3rem;
  margin-left: 5rem;
}

/****** New products/cards section *******/

.nph2 {
  text-align: center;
  font-size: 2.5rem;
  padding-bottom: 2rem;
  color: #8c4c13;
  background-color: white;
  margin-top: 3rem;
}

.card--image {
  background-color: #f4e1c3;
  height: 300px;
  width: 200px;
  border-radius: 15px;
  padding: 1rem;
  object-fit: cover;
  box-shadow: 0 5px 4px -4px #777;
}

.cards {
  display: flex;
  list-style: none;
}

.card {
  background-color: #f4e1c3;
  height: 400px;
  width: 250px;
  margin-top: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
  border-radius: 15px;
  box-shadow: 0 5px 4px -4px #777;
  justify-content: center;
  padding-top: 0.5rem;
}

.card h2 {
  margin-top: 1.5rem;
  color: #8c4c13;
  text-align: center;
  font-size: 1.5rem;
}

.card p {
  color: #8c4c13;
  text-align: center;
  font-size: 1rem;
  margin-top: 1rem;
}

.card h3 {
  color: #f36b2b;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.card-image {
  background-color: #f4e1c3;
  height: 140px;
  margin-top: 0.5rem;
  padding: 5px;
  margin-left: 3rem;

}

.vm {
  margin-left: 70rem;
  color: #8c4c13;
  background-color: white;
  font-size: 1rem;
  font-weight: 800;
}

.vm:hover {
  color: #f36b2b;
}


/****** Footer classes *******/
.footer {
  display: flex;
  flex-direction: row;
  padding-top: 4rem;
  background-color: #f0687f;
  color: #f4cfd9;
  text-align: center;
  margin-top: 2rem;
  justify-content: center;
}

.footer form {
  margin-bottom: 3rem;
}

.footer--nav ul {
  display: flex;
  flex-direction: column;
  margin-left: 10rem;
  gap: 1rem;
  list-style-type: none;
  border-left: 3px solid #f4cfd9;
}

.footer--nav ul li {
  font-weight: 600;
}

.footer--nav ul li a {
  color: #f4cfd9;
  text-decoration: none;
}

.footer--nav ul li a:hover {
  color: #4f565c;
}

.socials ul {
  margin-left: 10rem;
  color: #f4cfd9;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style-type: none;
  border-left: 3px solid #f4cfd9;
}

.socials ul li a {
  color: #f4cfd9;
  font-weight: 600;
  text-decoration: none;
  font-size: 1.5rem;
}

.socials ul li a:hover {
  color: #4f565c;
}

footer {
  background-color: #f0687f;
}

.footer--logo {
  margin-left: auto;
  height: 5.5rem;
  width: 5.5rem;
}

.footer p {
  margin-top: 5rem;
  margin-bottom: 0;
}

.footer {
  text-align: left;
  margin-bottom: 1rem;
}

.copyright {
  text-align: center;
  color: #f4cfd9;
  background-color: #f0687f;
  padding-bottom: 2rem;
}



/****** Screen reader text *******/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
